.headerSpacer{
    flex: 1 1 auto;  
}
.bgHeader{
    background-color: blueviolet;
    color: White;
}
a{
    color: white;
    padding: 8px;
}
a:hover{
    border: 0px 0px 1px 0px white;
    transition: ease-in-out;
}
