.headerSpacer{
    flex: 1 1 auto;  
}
.bgHeader{
    background-color: blueviolet;
    color: White;
}
a{
    color: white;
    padding: 8px;
    text-decoration: none;
}
a:hover{
    border-bottom: 2px solid white;
    transition: ease-in-out;
}
