
<div class="container">
    <div class="">
        <h2>Catalogo de productos</h2>
    </div>
    <div class="wrap-products">
        <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Porduct-Image">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Product Name </mat-card-title>
                <mat-card-subtitle>Price</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Stock</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>buy</button>
                <button mat-button>Wish list</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Porduct-Image">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Prodcut Name </mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    lorem
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>buy</button>
                <button mat-button>Wish list</button>
            </mat-card-actions>
        </mat-card>
        
    </div>
</div>

<div class="col-12 col-lg-12" *ngIf="successMessage">
    <div class="alert alert-success alert-dismissible" role="alert">
        <div class="alert-message">
            {{ successMessage }}
        </div>
        <button type="button" class="close" (click)="closeX()" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">X</span>
        </button>
    </div>
</div>
<div class="col-12 col-lg-12" *ngIf="errorMessage">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <div class="alert-message">
            {{ errorMessage }}
        </div>
        <button type="button" class="close" (click)="closeX()" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">X</span>
        </button>
    </div>
</div>


